In [1]:
#Exercícios Analise de Dados - Pandas

In [2]:
#Primeiro exercício salário de São Francisco

In [34]:
import pandas as pd #importando o pandas

In [4]:
sal = pd.read_csv('Salaries.csv') #Ler o arquivo salaries

In [5]:
sal.head() #verifica o Head do DataFrame

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [7]:
sal.info() #Quantidade de entradas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [9]:
sal['BasePay'].mean() #Média do "Salário Base"

np.float64(66325.44884048769)

In [10]:
sal['OvertimePay'].max() #maior quantidade no conjunto de dados

245131.88

In [11]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle'] #Cargo do Joseph Driscoll

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [12]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits'] #Sálario do Joseph Driscoll

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [13]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [14]:
sal[sal['TotalPayBenefits']==sal['TotalPayBenefits'].min()] #Pessoa paga com o salário mais baixo

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [18]:
sal.groupby('Year')['BasePay'].mean() #Média salarial de todos os funcionarios

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [21]:
sal['JobTitle'].nunique() #titulos de trabalho

2159

In [22]:
sal['JobTitle'].value_counts().head(5) #5 principais empregos

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [23]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [28]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [29]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

In [31]:
sal['title_len'] = sal['JobTitle'].apply(len)

In [32]:
sal[['title_len','TotalPayBenefits']].corr()

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

In [35]:
#Exercícios - Compras de Ecommerce

In [36]:
import pandas as pd #importando o Pandas

In [38]:
 ecom = pd.read_csv('Ecommerce Purchases') #DataFrame nome de ecom

In [39]:
ecom.head() #verificação do DataFrame

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [40]:
ecom.info() #informação de linhas e colunas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [41]:
ecom['Purchase Price'].mean() #preço de compra médio

np.float64(50.347302)

In [54]:
ecom['Purchase Price'].max() #preço de compra maximo

99.99

In [42]:
ecom['Purchase Price'].min() #preço de compra minimo

0.0

In [43]:
ecom[ecom['Language']=='en'].count() #Procura no site a quantidade de pessoas que adicionaram 'inglês'

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

In [44]:
ecom[ecom['Job']=='Lawyer'].info() #procura cargo de advogado no site

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

In [45]:
ecom['AM or PM'].value_counts() #Procura de pessoas que fizeram compra "AM e PM"

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

In [46]:
ecom['Job'].value_counts().head(5) #Titulos de trabalho mais comum

Job
Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: count, dtype: int64

In [55]:
ecom[ecom['Lot']=='90 WT']['Purchase Price'] #Procura de compra por numero de lot

513    75.1
Name: Purchase Price, dtype: float64

In [47]:
ecom[ecom['Credit Card'] == 4926535242672853]['Email'] #Email da pessoa com numero especifico de cartão de crédito

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [48]:
ecom[(ecom['CC Provider']=='American Express') & (ecom['Purchase Price']>95)].count() #Procura especifica de banco do cartão usado e com um valor especifico de compra

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [51]:
sum(ecom['CC Exp Date'].apply(lambda x: x[3:]) == '25')

1033

In [ ]:
#Linha 51 e 53 - comparei nas soluções pois não conseguir resolver, a parte do apply e
#lambda ainda é uma parte mais complicada de entender

In [53]:
ecom['Email'].apply(lambda x: x.split('@')[1]).value_counts().head(5)

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64